<nav class=" w-100  text-center py-3 text-bolder d-flex mb-3">
     <h4 class="fs-2 me-auto p-2 text-dark fw-bold">Phtostock</h4>

    <a class="text-decoration-none me-5 fs-4 text-dark  p-2" href="/">Home</a>
    <a class="text-decoration-none me-5 fs-4 text-dark  p-2" href="/Album">Album</a>
    <a class="text-decoration-none me-5 fs-4 text-dark  p-2" href="/about">About</a>
    <a class="text-decoration-none me-5 fs-4 text-dark  p-2" href="contact">Contact</a>
    <a class="text-decoration-none me-5 fs-4 text-dark  p-2" href="Gallery">Gallery</a>

    <!-- <h1 class="text-center text-primary">Capturing Your <br>
    Every Beautiful Movement </h1> -->

</nav>

