<%- include("partials/header") %>
<%- include("partials/nav") %>
<h1 class="text-center text-primary mt-3">Capturing Your <br>
    Every Beautiful Movement </h1>
    <p class="text-bolder text-center mt-5" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> In labore quia veniam delectus fugiat recusandae sunt nobis neque, <br> debitis exercitationem.</p>
    <div class="vstack gap-2 col-md-5 mx-auto mt-5">
        <button type="button" class="btn btn-danger">Get start</button>
        <button type="button" class="btn btn-outline-secondary">Learn more</button>
      </div>
      <img src="https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded mx-auto d-block mt-5 " alt="...">


<%- include("partials/footer") %>